<span (click)="onLoadDailyExchangeClick()" class="flex justify-between"
  ><p class="text-[16px] font-semibold leading-loose-[24px] p-2">
    Last 30 Days
  </p>
  <span
    class="group cursor-pointer active:scale-100 duration-200 inline-block w-6"
    >{{ !content ? "+" : "-" }}</span
  >
</span>
<hr class="p-3" />

<div class="accordion" *ngFor="let item of dailyExchange">
  <div class="accordion_body container p-3" *ngIf="content">
    <div class="bg-white shadow-2xl rounded-lg">
      <p class="accordion_body-title">
        <span class="font-bold text-sky-400/100">
          {{ item.date | date : "dd/MM/yyyy" }}</span
        >
      </p>
      <div class="exchange_rate_overview">
        <div class="mb-4">
          <p class="exchange_overview-title">
            <span class="font-bold">Open:</span> {{ item.open }}
          </p>
          <p class="exchange_overview-title">
            <span class="font-semibold">Close:</span> {{ item.close }}
          </p>

          <p class="exchange_overview-title">
            <span class="font-bold">Close diff(%): </span>
            <span [ngClass]="getCloseDiffClass(item?.closeDiff)">
              {{ item?.closeDiff }}%
            </span>
          </p>
        </div>

        <div class="mb-4">
          <p class="exchange_overview-title">
            <span class="font-bold">High:</span> {{ item.high }}
          </p>
          <p class="exchange_overview-title">
            <span class="font-bold">Low:</span> {{ item.low }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr *ngIf="content" />
</div>
